body {
    font-family: 'Arial', sans-serif;
    background-image: url(c:\Users\bob39\Downloads\mirkwood__home_of_the_silvan_elves_by_leaner47_d68q8c3-fullview.jpg);
    background-size: cover; /* This will make the image cover the entire screen */
    background-position: center center; /* This will center the image */
    background-repeat: no-repeat; /* This prevents the image from repeating */
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #6b8e23;
    color: rgb(255, 250, 250);
    padding: 1em 0;
    text-align: center;
}

main {
    padding: 2em;
    text-align: center;
    color: #000000;
    font-size: x-large;
}

button {
    background-color: #6b8e23;
    color: white;
    border: none;
    padding: 0.7em 1.5em;
    margin: 1em;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #556b2f;
}

#quiz-container, #results-container {
    margin-top: 2em;
    padding: 1em;
    background-color: #fff;
    border: 1px solid #000000;
    border-radius: 8px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #6b8e23;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
body {
    background-image: url(c:\Users\bob39\Downloads\mirkwood__home_of_the_silvan_elves_by_leaner47_d68q8c3-fullview.jpg);
    background-size: cover; /* This will make the image cover the entire screen */
    background-position: center center; /* This will center the image */
    background-repeat: no-repeat; /* This prevents the image from repeating */
  }
  